.link {
  text-decoration: none;

  display: block;
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.2rem 0.8rem;
}

.text {
  font-weight: 600;
  font-size: 1rem;
  color: transparent;
  text-shadow: 0 0 0 #333;
  min-width: 20px;
  display: inline-block;
  text-align: center;
}
